/* MAIN STRUCTURE */
body, html { height: 100%; }
body {
    height: 100%;
    display: flex;
    flex-flow: column;
    max-width: 1230px;
    margin: auto;
}
.outer-container {
  width: 100%;
}
.inner-container {
  max-width: 1230px;
  margin: auto;
  padding: 5px;
}
/*footer { padding-bottom: 8px; }*/
#body-container {
    flex-grow: 1;
}
.footer-contents {
    display: flex;
    flex-wrap: wrap;
}
.footer-links {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -0.5%;
}
#footer-left, #footer-right { flex: 50%; }
#footer-left { text-align: left; }
#footer-right { text-align: right; }
.text-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.left-column { margin-right: 1%; }
.text-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.text-column h2 { margin-bottom: -6px; }
blockquote {
    margin-top: -1px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding: 0.2em 10px;
    border-left: 2px solid;
}
blockquote, p { white-space: pre-line; }

/* HEADER */
header { margin-bottom: -50px; }
#logo {
    float: left;
    margin-left: 105px;
    margin-top: -105px;
    width: 400px;
    height: auto;
}
@media(max-width:575px) {
    #logo { visibility: hidden; }
}
#theme-button {
    float: right;
    margin-top: -103px;
    width: 40px;
    height: 40px;
}
#font-button {
    float: right;
    margin-top: -60px;
    width: 40px;
    height: 40px;
}
#theme-image {
    width: 40px;
    height: auto;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    margin-bottom: -6px;
}
#font-image {
    width: 30px;
    height: auto;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    margin-bottom: -8px;
}

/* NAVIGATION */
nav { text-decoration: none; }
#nav-container { width: 100px; }
.nav-button {
    width: 100px;
    margin: 1px;
}

/* EMBELLISHMENTS */
a {
    text-decoration: none;
    color: inherit;
}
p a, li a, blockquote a, .hlink { font-weight: bold; }
p a:hover, li a:hover, .footer-links a,
blockquote a:hover, .hlink:hover { text-decoration: underline; }
blockquote span.quote-title {
    font-weight: bold;
    text-decoration: underline;
}
blockquote br { margin-top: 0px; }
blockquote a { cursor: pointer; }

/* MISCELLANEOUS */
ul { margin-top: -1%; margin-bottom: 0%; }
.left { float: left; }
.right { float: right; }
.text-centred { text-align: center; }
.page-centred {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.preview-container p, .preview-container img { margin-top: -1%; }
.preview-image { border: 2px ridge; }
.external-favicon { height: 18px; }
.inline-image-left {
    float: left;
    margin-right: 8px;
}
.inline-image-right {
    float: right;
    margin-left: 8px;
}

/* COOKIE */
#cookie-popup {
/*
Adapted from the following source:
https://blog.formpl.us/how-to-create-a-simple-cookie-consent-pop-up-for-your-website-dad17a174b60
*/
    position: fixed;
    bottom: 20px;
    left: 0.6%;
    right: 10%;
    width: 15%;
    min-width: 290px;
    height: 38%;
    padding: 5px 14px;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    overflow-y: auto;
    font-size: 20px !important;
}
#cookie-popup p {
    margin-top: -1em;
    font-family: sans-serif;
}
#cookie-accept, #cookie-decline {
    width: 180x;
    font-size: 20px;
    height: 40px;
}
#cookie-button-container {
/*
Adapted from the following StackOverflow answer:
https://stackoverflow.com/questions/45911051/buttons-centered-and-side-by-side
*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
}