/* MAIN STRUCTURE*/
html {
    margin-left: 18%; margin-right: 18%;
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
}
body {
    height: 100%;
    /*margin-bottom: 12px;*/
}
.text-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.left-column { margin-right: 1%; }
.text-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.text-column h2 { margin-bottom: 0; }

/* HEADER */
header { margin-bottom: -50px; }
#logo {
    position: relative;
    top: -100px;
    left: 100px;
    width: 400px;
    height: auto;
}
@media(max-width:785px) {
    #logo { visibility: hidden; }
}
#theme-button {
    position: absolute;
    top: 0px;
    right: 18%;
    width: 40px;
    margin: 8px;
}
#theme-image {
    width: 40px;
    height: auto;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    margin-bottom: -5px;
}

/* FOOTER */
footer { font-size: 12px; }
footer.absolute {
    position: absolute;
    bottom: 0;
    left: 18%;
    width: 63.85%;
}
footer.relative {
    position: relative;
    width: 99%;
}
.footer-contents {
    display: flex;
    flex-wrap: wrap;
}
.footer-links {
    text-align: center;
    margin-bottom: 1.5%;
    margin-top: -0.5%;
}
#footer-left, #footer-right { flex: 50%; }
#footer-left { text-align: left; }
#footer-right { text-align: right; }

/* NAVIGATION */
nav { text-decoration: none; }
#nav-container { width: 100px; }
.nav-button {
    width: 100px;
    margin: 1px;
}

/* EMBELLISHMENTS */
a {
    text-decoration: none;
    color: inherit;
}
p a, li a { font-weight: bold; }
p a:hover, li a:hover, .footer-links a { text-decoration: underline; }

/* MISCELLANEOUS */
ul { margin-top: -1%; margin-bottom: 0%; }
.left { float: left; }
.right { float: right; }
.text-centred { text-align: center; }
.page-centred {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.large-heading { font-size: 24px; }
.preview-container p, .preview-container img { margin-top: -1%; }
.preview-image { border: 3px ridge; }
.external-favicon { height: 18px; }
.inline-image-left {
    float: left;
    margin-right: 8px;
}
.inline-image-right {
    float: right;
    margin-left: 8px;
}
