figcaption {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}
figcaption p { margin-top: 1; }
a.caption-link { font-weight: bold !important; }
a.caption-link:hover { text-decoration: underline !important; }
#pronouns-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 69%;
}
