body, html { height: 100%; }
body {
    display: flex;
    flex-flow: column;
}

.navbar-dropdown-link {
    border: none;
}
.navbar-brand a {
    cursor: default !important;
}
.poem {
    white-space: pre;
    font-style: italic;
    text-align: center;
}
.references {
    font-size: 80%;
}

#account-list li {
    margin-left: 1em;
    list-style-type: disc;
}

/* Page boundaries */
#footer {
    background-color: white;
    border-top: var(--border-basic);
}
#footer .content {
    margin-bottom: -2.5em;
}
#header {
    border-bottom: var(--border-basic);
}
#header .dropdown-trigger {
    margin-right: -0.6em;
    margin-left: -0.6em;
}
