body, html { height: 100%; }
body {
    display: flex;
    flex-flow: column;
}

/* BUTTONS */
button.is-danger {
    background-color: var(--button-colour-danger) !important;
}
button.is-danger:hover {
    background-color: var(--button-colour-danger-hover) !important;
}

/* COOKIE BANNER */
#cookie-banner {
    background-color: var(--bulma-scheme-main);
    border: var(--border-dull);
    border-radius: 5px;
}

/* NAVIGATION BAR */
#logo-container, #website-title {
    pointer-events: none;
}
#home-button, .navbar-dropdown-link {
    border: none;
    box-shadow: none;
    color: var(--navbar-clickable-colour);
}
.navbar-brand a {
    cursor: default !important;
}
#skip-link {
    background-color: var(--bulma-scheme-main);
    color: var(--bulma-text);
}
#theme-button {
    font-size: 20px;
    padding: 4px 14px 4px 14px;
}

/* TEXT */
a {
    color: var(--link-colour);
}
a:hover {
    color: var(--link-colour-hover);
}
.poem {
    white-space: pre;
    font-style: italic;
    text-align: center;
}
.references {
    font-size: 80%;
}

/* LISTS */
#account-list li {
    margin-left: 1em;
    list-style-type: disc;
}

/* PAGE BOUNDARIES */
#footer {
    background-color: var(--footer-colour);
    border-top: var(--border-basic);
}
#footer .content {
    margin-bottom: -2.5em;
}
#header {
    border-bottom: var(--border-basic);
}
#header .dropdown-trigger {
    margin-right: -0.6em;
    margin-left: -0.6em;
}
