#main-content {
    flex-grow: 1;
    margin-top: 3.5em;
}
@media screen and (max-width: 34em) {
    #about-card div.column {
        display: block;
    }
}

/* CENTRING
(the default 'is-centered' offered by Bulma doesn't seem to work in all contexts)*/
.contents-centred {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-centred {
    margin-left: auto;
    margin-right: auto;
}
.text-centred {
    text-align: center;
}

/* COOKIE BANNER */
#cookie-banner {
    max-width: 25em;
    width: 25em;
    padding: 0.75em;
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 100 !important;
}
@media screen and (max-width: 26em) {
    #cookie-banner {
        min-width: 14em;
        width: auto;
        margin-right: 1em;
    }
}

/* FOOTER */
.footer-left {
    border-right: var(--border-basic);
    text-align: right;
}
@media screen and (max-width: 768px) {
    .footer-left, .footer-right {
        text-align: center;
    }
    .footer-left {
        border-right: none;
        border-bottom: var(--border-basic);
        max-width: 170px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* HEADER */
#header {
    position: fixed;
    width: 100%;
}

/* MISCELLANEOUS */
.has-top-gap {
    margin-top: 1em;
}
.is-size-4 {
    margin-bottom: 0.3em !important;
}
.is-subtitle {
    margin-top: 1.8em;
    margin-bottom: 0.8em !important;
}
.nested-list {
    margin-left: 1em;
}

/* WIDTHS */
.low-width {
    max-width: 615px;
}
.kilo-width {
    max-width: 1000px;
}
.medium-width {
    max-width: 1230px;
}