#main-content {
    flex-grow: 1;
    margin-top: 3.5em;
}
@media screen and (max-width: 34em) {
    #about-card div.column {
        display: block;
    }
}

/* CENTRING
(the default 'is-centered' offered by Bulma doesn't seem to work in all contexts)*/
.contents-centred, .subpage-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-centred {
    margin-left: auto;
    margin-right: auto;
}
.text-centred {
    text-align: center;
}

/* COOKIE BANNER */
#cookie-banner {
    max-width: 25em;
    width: 25em;
    padding: 0.75em;
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 100 !important;
}
@media screen and (max-width: 26em) {
    #cookie-banner {
        min-width: 14em;
        width: auto;
        margin-right: 1em;
    }
}

/* FOOTER */
.footer-left {
    border-right: var(--border-basic);
    text-align: right;
}
@media screen and (max-width: 768px) {
    .footer-left, .footer-right {
        text-align: center;
    }
    .footer-left {
        border-right: none;
        border-bottom: var(--border-basic);
        max-width: 170px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* HEADER */
#header {
    position: fixed;
    width: 100%;
}

/* MISCELLANEOUS */
.has-top-gap {
    margin-top: 1em;
}
.has-top-gap-large {
    margin-top: 2.5em;
}
.is-size-4 {
    margin-bottom: 0.3em !important;
}
.subpage-subtitle > .is-size-5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: inline;
}
.is-subtitle {
    margin-top: 1.8em;
    margin-bottom: 0.8em !important;
}
.nested-list {
    margin-left: 1em;
}
.subpage-subtitle {
    margin-top: -0.6em;
    margin-bottom: 1.2em;
}
.poem {
    &, & > p:not(:last-child) {
        margin-bottom: var(--bulma-block-spacing);
    }
    & > h1.subtitle {
        margin-top: 0 !important;
    }
}
#back-button {
    display: inline;
    font-size: 1.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-right: 0.5em;
}
/* credit for subpage-list rules: https://stackoverflow.com/questions/15306108/how-to-style-a-horizontal-list-with-bullets-between-items-using-css/24706410#24706410 */
#subpage-list, .inline-list {
    text-align: center;

    & li {
        list-style: none;
        display: inline !important;

        &:after {
            content: "\00A0\00A0\2022\00A0";
        }
        &:last-child:after {
            content: none;
        }
    }

    &.inline-list-left {
        text-align: left !important;
    }
}
#subpage-parent {
    margin-top: 1.8em;

    & + .title {
        margin-top: 0.1em !important;
    }
}

/* WIDTHS */
.column-list-width {
    max-width: 400px;
}
.low-width {
    max-width: 615px;
}
.kilo-width {
    max-width: 1000px;
}
.medium-width {
    max-width: 1230px;
}