/* MAIN COLOURATION*/
html, button { color: white; background-color: black; }
h2:after {
    content: ' ';
    display: block;
    border: 1px solid white;
    width: inherit;
}
footer { color: #999999; }

/* HEADER ELEMENTS */
#theme-image {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* NAVIGATION */
.selected { border-color: gold; }

/* MISCELLANEOUS */
p a:hover, li a:hover { color: #AAAAAA; }
.footer-links a:hover { color: #CCCCCC; }
.preview-image { border-color: white; }
.dark-favicon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
