body, html {
    height: 100%;
}
body {
    display: flex;
    flex-flow: column;
}

/* BUTTONS */
button.is-danger {
    background-color: var(--button-colour-danger) !important;

    &:hover {
        background-color: var(--button-colour-danger-hover) !important;
    }
}

/* COOKIE BANNER */
#cookie-banner {
    background-color: var(--bulma-scheme-main);
    border: var(--border-dull);
    border-radius: 5px;
}

/* NAVIGATION BAR */
#logo-container, #website-title {
    pointer-events: none;
}
#home-button, .navbar-dropdown-link {
    border: none;
    color: var(--navbar-clickable-colour);

    &:focus {
        box-shadow: 0 0 0 2px var(--link-colour) !important;
    }
}
.navbar-brand a {
    cursor: default !important;
}
#skip-link {
    background-color: var(--bulma-scheme-main);
    color: var(--bulma-text);
}
#theme-button {
    font-size: 20px;
    padding: 4px 14px 4px 14px;
}

/* TEXT */
a {
    color: var(--link-colour);

    &:hover {
        color: var(--link-colour-hover);
    }
}
.poem > p::first-line {
    font-variant: small-caps;
}
.references {
    font-size: 80%;
}

/* LISTS */
#account-list li {
    margin-left: 1em;
    list-style-type: disc;
}

/* PAGE BOUNDARIES */
#footer {
    background-color: var(--footer-colour);
    border-top: var(--border-basic);

    & .content {
        margin-bottom: -2.5em;
    }
}
#header {
    border-bottom: var(--border-basic);

    & .dropdown-trigger {
        margin-right: -0.6em;
        margin-left: -0.6em;
    }
}

/* TABLES */
tr:has(+ tr th):not(:has(+ tr td)) {
    & > th, & > td {
        border-style: none !important;
    }
}