:root {
    --border-basic: 1px solid lightgrey;
    --border-dull: 1px solid grey;
    --button-colour-danger: #ff2222;
    --button-colour-danger-hover: #ff4343;
    --description-background: transparent;
}

html[data-theme="dark"] {
    --description-colour: #fff;
    --link-colour: #5c7aff;
    --link-colour-hover: var(--bulma-info);
    --navbar-clickable-colour: #fff;
}

html[data-theme="light"] {
    --description-colour: #000;
    --footer-colour: #fff;
    --link-colour: #485fc7;
    --link-colour-hover: #363636;
    --navbar-clickable-colour: #404654;
}