/* All pages */

/* This pop-up hint styling is adapted from the following Stack Overflow answer:
https://stackoverflow.com/questions/11672946/styling-an-image-title-attribute-using-css */
#navbar-brand:after, #theme-button:after {
    content: attr(data-desc);
    position: absolute;
    padding: 4px 8px;
    color: var(--description-colour) !important;
    background: var(--description-background) !important;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.125s linear;
    font-weight: var(--bulma-weight-medium);
    font-size: 16px !important;
}
#navbar-brand {
    &:after {
        left: -18em;
        top: 3.8em;
    }
    &[data-desc]:hover:after, &[data-desc]:focus:after {
        left: 0.1em;
        opacity: 1;
    }
}
#theme-button {
    &:after {
        right: -18em;
        top: 3.25em;
    }
    &[data-desc]:hover:after {
        right: -0.25em;
        opacity: 1;
    }
}
#skip-link {
    background-color: white;
    position: fixed;
    margin-top: 0.5em;
    margin-left: -11.5em;
    z-index: 1;
    transition: margin-left 0.5s linear;

    &:focus {
        margin-left: 0.5em;
    }
}

/* Multiple pages */
.card-link {
    height: 100%;
}
.card-link-header {
    height: 4.5em;
    border-bottom: var(--border-basic);
}
.card-link-multi { /* not used ATM, but keeping it for now, may use more cards again in future, unsure */
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-right: var(--border-basic);
}
.card-above-footer {
    height: calc(100% - 48px);
}
#tabset ul {
    margin: 0.2em;
}